<launch>
  <node pkg="kinect_camera" type="kinect_node" name="kinect_driver" output="screen">
    <remap from="camera" to="kinect" />
    <param name="device_id" value="0" />
    <param name="camera_name" value="kinect" />
    <param name="rgb/camera_info_url"   value="file://$(find kinect_camera)/info/calibration_rgb.yaml" />
    <param name="depth/camera_info_url" value="file://$(find kinect_camera)/info/calibration_depth.yaml" />
    <rosparam command="load" file="$(find kinect_camera)/info/kinect_params.yaml" />
  </node>

</launch>
