<launch>
<!-- TODO: Shouldn't be loading the exact same calibration for both kinects -->

  <include file="$(find kinect_camera)/launch/kinect_node.launch">
    <arg name="node_name" value="kinect_driver_1" />
    <arg name="camera_ns" value="kinect_1" />
    <arg name="device_id" value="0" />
  </include>

  <include file="$(find kinect_camera)/launch/kinect_node.launch">
    <arg name="node_name" value="kinect_driver_2" />
    <arg name="camera_ns" value="kinect_2" />
    <arg name="device_id" value="1" />
  </include>

</launch>
