<launch>
  <node pkg="nodelet" type="nodelet" name="kinect_manager" args="manager" output="screen" />

  <node pkg="nodelet" type="nodelet" name="kinect_driver" args="load kinect_camera/KinectDriverNodelet kinect_manager" output="screen">
    <remap from="camera" to="kinect" />
    <param name="device_id" value="0" />
    <param name="rgb/camera_info_url"   value="file://$(find kinect_camera)/info/calibration_rgb.yaml" />
    <param name="depth/camera_info_url" value="file://$(find kinect_camera)/info/calibration_depth.yaml" />
  </node>

</launch>
