<launch>
  <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
  <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid kinect_manager" output="screen">
    <remap from="~input" to="/kinect/points2" />
    <remap from="~output" to="/kinect_pcl/points2_grid" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.01
      filter_limit_max: 5.0
      filter_limit_negative: False
      leaf_size: 0.005
    </rosparam>
  </node>

</launch>

